<div class="container top-30">
  <div class="row">
    <div class="col-md-3">

      <label for="termino">Buscador de artistas</label>

      <input [(ngModel)]="termino" class="form-control" type="text" name="termino" placeholder="Buscar por artista..." (keyup)="buscarArtista()">
      <hr>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row">
      <div class="col-md-3 puntero" *ngFor="let artista of spotifyService.artistas" [routerLink]="['/artista', artista.id]">
        <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail">
        <hr>
        <p class="text-center">{{artista.name}}</p>
      </div>
    </div>
  </div>
</div>
